  <!--
    showChart
    toggleChart()
    kcql
    kcqlRequest()
    topic
  -->

<div>
        <div style="background:#fff" layout="column">
            <div>
                <!--TODO-->
                <small style="font-size:10px;">
                    <!--{{chartSelection}}Selected Min: 2017-01-14 20:31:26 / Selected Max: 2017-01-14 21:10:22-->
                    <span flex></span>
                    <md-button style="font-size:10px;float:right;line-height: 0px; min-height: 0px;" ng-show="!showChart" ng-click="toggleChart()"> <i class="fa fa-eye-slash" aria-hidden="true"></i> Show filters </md-button>
                    <md-button style="font-size:10px;float:right;line-height: 0px; min-height: 0px;" ng-show="showChart" ng-click="toggleChart()"> <i class="fa fa-eye" aria-hidden="true"></i> Hide filters </md-button>
                </small>
            </div>

            <div>
                <div ng-show="showChart"  id="container" style="float:left; min-width: 300px; height: 450px; margin: 0 auto; width:80% !important;"></div>
                <!--<div ng-show="showChart" id="container2" style="float:left; min-width: 300px; height: 100px; margin: 0 auto; width:80% !important;"></div>-->
            </div>
        </div>

        <div flex>
            <!--Server side filtering toolbar-->
            <!--TODO Basic-->
            <!--<md-card style="background-color:#EDF1F5;">-->
            <!--<div layout="row" layout-sm="column" layout-align="start center" layout-padding>-->
            <!--<label style="width:100%">Partition</label>-->
            <!--<select class="form-control button" ng-model="search.partition" >-->
            <!--<option value="" selected>ALL</option>-->
            <!--<option ng-repeat="i in getPartitions(partitions)" track by $index value="{{$index}}">Partition {{$index}}</option>-->
            <!--</select>-->
            <!--<label style="width:100%">Offset start:</label>-->
            <!--<input ng-model="offsetStart" type="text" placeholder="123" style="width:100%">-->
            <!--<label style="width:100%">Offset end:</label>-->
            <!--<input ng-model="offsetend" type="text" placeholder="456" style="width:100%">-->
            <!--<md-button class="md-raised" ng-click="kcqlRequest()" style="height:23px; width:23px">-->
            <!--<i class="fa fa-search" aria-hidden="true" style="color:#333; margin-top:-10"></i>-->
            <!--</md-button>-->
            <!--<a>Advanced</a>-->
            <!--</div>-->
            <!--</md-card>-->

            <!--Advanced / TODO only if Topic has avro value-->
            <div  ng-show="showChart" style="background-color:#fff; border:1px solid #f4f5f7">
                <div layout="row" layout-sm="column" layout-align="space-between center" layout-padding  ng-if="topic.valueType =='avro'">
                    <label>KCQL</label>

                    <input ng-model="kcql" type="text" placeholder="SELECT * FROM {{topic.topicName}}" style="width:100%">
                    <md-button class="md-raised" ng-click="kcqlRequest()" style="height:23px; width:23px">
                        <i class="fa fa-search" aria-hidden="true" style="color:#333; margin-top:-10"></i>
                    </md-button>
                    <!--<a>Basic</a>-->
                </div>
            </div>
        </div>
    </div>