<!DOCTYPE html>
<html>
<head>
  <title>Kafka Topics UI - Browse Kafka Data</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css">
  <link rel="stylesheet" href="src/assets/css/styles.css">
  <!--<link rel="stylesheet" href="bower_components/angular-json-tree/dist/angular-json-tree.css">-->

  <meta charset=utf-8/>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Kafka Topics UI">
  <meta name="keywords"
        content="kafka,schema registry,topics,kafka-topic,kafka-rest,kafka-rest-proxy,kafka management,avro">
  <meta name="author" content="Landoop Team">
  <link rel="shortcut icon" href="src/assets/icons/favicon.png">
</head>

<body ng-app="angularAPP" ng-cloak>

<!--Header Starts here-->
<header class="header" ng-controller="HeaderCtrl" style="background:{{color}}">
  <div layout="row" layout-xs="column">
    <div class="top-left-part">
      <h5 style="padding-top:10px;">
        <a ng-click="showLeftList()" href="{{cluster ? '#/cluster/'+cluster.NAME : '#/'}}" style="color:#fff; text-decoration:none;">KAFKA TOPICS</a>
      </h5>
    </div>
    <span flex></span>
    <div class="top-right-part" style="padding-top:4px;" >

      <md-menu-bar>
        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            SELECTED CLUSTER: <span style="color: #FF5722">{{cluster.NAME}} </span> <i class="fa fa-angle-double-down" aria-hidden="true"></i>
          </md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="connectEndPoint in clusters track by $index"
                          ng-click="updateEndPoint(connectEndPoint.NAME)">
              <md-button>
                {{connectEndPoint.NAME}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu>
          <md-button>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </md-button>
        </md-menu>
      </md-menu-bar>




      <!--<md-menu md-position-mode="target-right target" md-offset="0 55" class="clusterMenu">-->
        <!--<a  ng-click="$mdOpenMenu($event)" >-->
          <!--Selected Cluster:-->
        <!--</a>-->
        <!--<md-menu-content width="4" style="top:55px;">-->
          <!--<md-menu-item ng-repeat="item in [1, 2, 3]">-->
            <!--<md-button ng-click="ctrl.announceClick($index)">-->
              <!--<div layout="row" flex>-->
                <!--<p flex>Option {{item}}</p>-->
                <!--<md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>-->
              <!--</div>-->
            <!--</md-button>-->
          <!--</md-menu-item>-->
        <!--</md-menu-content>-->
      <!--</md-menu>-->



      <!--/////////-->
    <!--<label ng-show="!missingEnvJS && clusters.length > 1" class="selectClusterLabel"><b>SELECT CLUSTER :</b></label>-->
    <!--<md-input-container ng-show="!missingEnvJS && clusters.length > 1" class="selectCluster">-->
      <!--<md-select ng-model="connectEndPoint">-->
        <!--<md-option ng-repeat="connectEndPoint in clusters track by $index"-->
                   <!--ng-click="updateEndPoint(connectEndPoint.NAME)"-->
                   <!--value="{{connectEndPoint.NAME}}" ng-selected="{{cluster.NAME == connectEndPoint.NAME}}"-->
        <!--&gt;{{connectEndPoint.NAME}}</md-option>-->
      <!--</md-select>-->
    <!--</md-input-container>-->
    </div>
  </div>
</header>

<!--if env.js is not properly defined-->
<div layout="row" flex="100" ng-show="missingEnvJS" ng-cloak>
  <md-card>
    <md-card-content>
      <h3 style="font-weight:300; color:red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Missing Cluster Configuration</h3>
      <br>
      In order to configure <code>kafka-topics-ui</code> you need to add <code>env.js</code> file in the root directory of the app.
      <br>
      Example <b>env.js</b> structure:
      <pre>
        <code>
var clusters =
[
  {
  NAME:"prod",
  KAFKA_REST : "prod.url.com",// "The Kafka Rest url"
  // Sets the default maximum amount of bytes to fetch from each topic
  MAX_BYTES: "?max_bytes=50000",
  COLOR: "#141414" // Optional
  },
  {
  NAME:"dev",
  KAFKA_REST : "dev.url.com", "The Kafka Rest url"
  MAX_BYTES: "?max_bytes=50000",

  COLOR: "red" // Optional
  }
]
        </code>
      </pre>
    </md-card-content>
  </md-card>
</div>

<!--Main Content Starts here-->
<div layout="row"  layout-sm="column" layout-xs="column" ng-controller="KafkaTopicsConfigCtrl" ng-hide="missingEnvJS">
  <!--<div flex-gt-sm="33" ng-show="showList">-->
  <div style="width:220px; z-index:0; background:#fff;box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);" ng-show="showList">
    <div ng-controller="KafkaTopicsListCtrl" ng-include="'src/kafka-topics/list/left-list.html'"></div>
    <br>
    <!--<div ng-include="'src/kafka-topics/config/config.html'"></div> TODO-->
  </div>
  <div flex>
    <ng-view></ng-view>
    <br>
    <div ng-include="'src/kafka-topics/config/config.html'" show-sm hide-gt-sm></div>
  </div>
</div>

<!-- Landoop team promo TODO -->
<!--<div layout-margin flex>-->
  <!--<div flex="nogrow">-->
    <!--<img ng-src="src/assets/icons/landoop-dark.svg" style="width:20px;float: left;padding-right:5px;"></div>-->
  <!--<div flex>-->
    <!--<p class="md-caption">Powered by <a href="http://www.landoop.com/" target="_blank">Landoop</a></p>-->
  <!--</div>-->
<!--</div>-->

<!--CUSTOM-FOOTER-->
<!-- analytics -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
<script src="bower_components/spin.js/spin.min.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
<script src="bower_components/angular-base64/angular-base64.min.js"></script>
<script src="bower_components/oboe/dist/oboe-browser.min.js"></script>
<script src="bower_components/angular-oboe/dist/angular-oboe.min.js"></script>
<script src="bower_components/angular-json-tree/dist/angular-json-tree.min.js"></script>

<script src="env.js"></script>
<!-- build:js combined.js -->
<script src="src/app.js"></script>
<script src="src/kafka.defaults.js"></script>
<script src="src/topics.config.js"></script>
<script src="src/factories/dirPagination.js"></script>
<script src="src/kafka-topics/home/home.controller.js"></script>
<script src="src/kafka-topics/healthcheck/healthcheck.controller.js"></script>
<script src="src/kafka-topics/view/view.controller.js"></script>
<script src="src/kafka-topics/config/config.controller.js"></script>
<script src="src/kafka-topics/list/topics-list.controller.js"></script>
<script src="src/factories/kafka-rest-proxy-factory.js"></script>
<script src="src/factories/kafka-backend-factory.js"></script>
<script src="src/factories/env.factory.js"></script>
<script src="src/factories/chart.factory.js"></script>
<script src="src/factories/utils-factory.js"></script>
<script src="src/factories/toast-factory.js"></script>
<!-- endbuild -->

</body>
</html>
