
 <!--
  rows
  paginationItems
  showTree
  search
 -->

  <md-tab-body>
    <md-content class="normalcontent">

      <md-list class="md-dense" flex style="padding:0px 0px">
        <md-list-item class="md-2-line"
                      dir-paginate="t in rows |  filter:search:strict | itemsPerPage: paginationItems"
                      current-page="currentPage"
                      pagination-id="treeView"
                      style="border-bottom:1px solid #f4f5f7; padding: 5px 0 0">

          <div class="md-list-item-text" layout="column">

            <div layout="row" style="padding:10px">
                  <div layout="column" flex="100" layout-align="center left">
                    <div>
                      <json-tree object="t.key" root-name="'Key'" style="max-width: 100%;" ></json-tree>
                    </div>
                    <div>
                      <json-tree object="t.value" root-name="'Value'" style=" max-width: 100%;" ></json-tree>
                    </div>
                  </div>
              <div layout="column" flex="15" style="flex:0 0 100px">
                <small style="float:right;text-align:right;color:rgba(0,0,0,0.59);font-size:11px">Offset: {{t.offset}} </small>
                <small style="float:right;text-align:right;color:rgba(0,0,0,0.59);font-size:11px">Partition: {{t.partition}}</small>
              </div>
            </div>

          </div>

        </md-list-item>
        <md-divider></md-divider>
      </md-list>

        <div flex>
          <dir-pagination-controls pagination-id="treeView"></dir-pagination-controls>
        </div>

    </md-content>
  </md-tab-body>
