html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
        font-family: "Lato";
        font-weight: 300;
        color:rgba(21, 31, 39, 0.81);
}
button, html, input, select, textarea {
    font-family: "Lato";
}

table td {font-weight:normal}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    margin-top: 0px;
    padding-top:0px;
}

.label-type {
    font-size: 10px;
        border-radius: 60px;
        padding: 6px 20px;
        min-width: 30px;
        font-weight: 500;
        letter-spacing: 0.05em;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
}

/** TODO update these labels to match the above*/
.labelType {
    font-size: 10px;
    border-radius: 60px;
    padding: 6px 20px;
    min-width: 30px;
    background-color: #fb9678;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.label-type-avro, .label-type-json {
   background-color: #fb9678;
}

.label-type-binary {
   background-color: #F5AC99;
}

.label-type-string {
   background-color: #9675ce;
}

.label-type-int .label-type-double .label-type-float .label-type-long {
   background-color: #03a9f3;
}

.label-type-null {
   background-color: #fec107;
}

.label-type-empty {
   background-color: #ccc;
}

.labelOffset {
font-size: 10px;
    border-radius: 60px;
    padding: 6px 20px;
    min-width: 30px;
    background-color: #03a9f3;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.labelTypeSm {
    font-size: 12px;
    border-radius: 60px;
    padding: 5px;
    background-color: #fb9678;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.progress {
    -webkit-box-shadow: none!important;
    background-color: rgba(120,130,140,.13);
    box-shadow: none!important;
    height: 4px;
    border-radius: 0;
    margin-bottom: 18px;
    overflow: hidden;
}

.progress-bar {
    box-shadow: none;
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #34495e;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}



.md-select-value .md-container {float:left;}
.selectCluster {margin: 7px 10px;text-indent:15px;padding: 0;line-height: 1.2;}
.selectCluster md-select {background:white;}
.selectCluster md-select md-option,
.selectCluster md-select md-select-value{color:#333}
.selectClusterLabel{color: rgb(204, 204, 204);font-size: 12px;line-height: 44px;padding-top: 0px;margin: 0;}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
min-height:1260px;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #F5F5F5 !important;
    background-color:#F5F5F5 !important;
}

.md-tab {text-transform:none;}
md-tabs .md-tab.md-active {color:#fb9678}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
md-input-container label {
color:rgba(0,0,0,0.66);
}
.button.form-control {
border-width:0px 0px 1px 0px;
}
.flex-1 {
  -webkit-flex: 1;
          flex: 1;
}.flex-2 {
  -webkit-flex: 2;
          flex: 2;
}
.flex-3 {
  -webkit-flex: 3;
          flex: 3;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
    margin-right: 25px;
    background-color: white;
    color: black;
    text-align: center;
}

.ace_editor {
    height: 600px;
}

.ace_gutter {
    background: #f9f9f9 !important;
}

header.header {
    background-color: #4F5467;
    min-height: 55px;
    color: #ebebeb;
    margin-bottom: 0;
}

.header-section {
    background-color: #4F5467;
    color: #ebebeb;
    border-bottom: 0 solid #2b3e50;
    padding: 4px 0;
    margin-bottom: 0;
    min-height: 55px;
}

.top-left-part {
    background: rgba(0, 0, 0, 0.2);
    min-height: 55px;
     width: 220px;
     float: left;
     text-decoration:none;
     text-align: center;
     color: #ffffff;"
}

.clusterMenu {
  background: rgba(255, 255, 255, 0.2);
}


.container-fluid-centered {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

a:link, header.a:visited, header.a:hover, header.a:active {
    text-decoration: none;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.textareacode {
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    border: 1px solid #ccc;
    width: 95%;
    font: 12px Consolas, Menlo, Courier, monospace;
}

.example {
    position: relative;
    margin: 15px 0 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    z-index: 2;
}
.normalcontent.ng-scope {
    overflow:initial}
}

.leftlistPagination .pagination {
    margin:0;
}

.toggleconfig {
    float: right;
    color: #448AFF;
}
.example1:after {
    content: "Register a Complex Schema";
}

.example2:after {
    content: "Test Schema Compatibility";
}

.example:after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    color: #9da0a4;
    border-radius: 4px 0 4px 0;
}

.snippet {
    position: relative;
    overflow: visible;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.centering {
    float: none;
    margin: 0 auto;
}

.bs-callout-warning {
    border-left-color: #228415 !important;
}

.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4f6375;
    color: white;
    font-size: 16px;
    padding: 4px;
    border: none;
    cursor: pointer;
    min-width: 250px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #6e8294
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #4f6375;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #4f6375;
}

md-card {
    margin: 0;
}



md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none;
}

.md-button.light-blue {
    background-color: rgba(74, 163, 223, 1);
}

/* Essential for dirPagination material design */
.md-button {
    min-width: 30px;
}

/** Pagination **/
.label-primary {
    background-color: #286090;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: none;
}
/*
.md-whiteframe-2dp {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.md-whiteframe-2dp:focus {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.24);
}
*/

.md-button.light-blue {
    background-color: rgba(74, 163, 223, 1);
}

.fabSpeedDial.text-capitalize {
    text-transform: capitalize;
}

.md-button.md-fab {
    width: 42px;
    height: 42px;
    background-color: white;
}

.fabSpeedDial .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

a.md-button.md-default-theme.md-warn.md-raised, a.md-button.md-warn.md-raised, a.md-button.md-default-theme.md-warn.md-fab, a.md-button.md-warn.md-fab, .md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab {
    color: rgb(255, 255, 255);
    background-color: rgba(169, 169, 169, 0.1);
}

/* Custom topics-ui CSS */
md-list-item.md-2-line, md-list-item.md-2-line > .md-no-style {
    min-height: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

md-card md-card-title {
    padding-bottom: 10px;
}

.md-tooltip ._md-content {
    height: auto;
}

.grid {
    width: 920px;
    height: 525px;
}

.grid-center {
    text-align: center;
}

/*.ui-grid-header-cell {*/
/*border-color: #d4d4d4 !important;*/
/*}*/

.grid-header-landoop {
    color: #a8a8a8;
    background-color: #fafafa !important;
    font: 500 15px Arial, Helvetica, sans-serif;
}
.grid-header-landoop-small {
    color: #a8a8a8;
    background-color: #fafafa !important;
    font: 400 13px Arial, Helvetica, sans-serif;
}

/*Funny Orange Fab color*/
.md-fab:hover, .md-fab.md-focused {
    background-color: rgba(230, 100, 0, .9) !important;
}

/* When a user has selected a topic in the topic list */
.selectedListItem {
    background-color: #EBEBEB;
}


table { border-spacing: 0; width:100%}
table tbody tr:nth-child(odd) { background-color:#eee; }
table tbody tr:nth-child(even) { background-color:#fff; }
table tr th {padding:10px;}
table tr td {padding:5px;}
table thead tr { color: rgba(0,0,0,.54); font-size: 13px; font-weight: 700;white-space: nowrap; text-align:left; }
table tbody { color: rgba(0,0,0,.87);font-size: 13px;vertical-align: middle; }
table tbody tr { border-top: 1px rgba(0,0,0,.12) solid; }
.td-center {text-align:center}

.flat-table tr td {border:1px #ccc solid;}
.flat-table tr th {border:1px #ccc solid;}


.topics-table {
    background-color:transparent;
    width:100%;
    color: rgba(21, 31, 39, 0.81);
    margin-top: 20px;
}

.topics-table tbody { color: rgba(21, 31, 39, 0.81); font-weight: 400 }
.topics-table tbody tr:nth-child(odd) { background-color:transparent; }
.topics-table tbody tr:nth-child(even) { background-color:transparent; }
.topics-table tr td { padding: 10px 8px; border-top: 1px solid #e4e7ea; line-height: 1.42857143; vertical-align: top; font-size: 14px;}
.topics-table tr th { padding: 15px 8px; line-height: 1.42857143; vertical-align: top; font-size: 14px;}

.txt-oflo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blue {background-color:#dcedf7};

.no-shadow {
    box-shadow:none;
}


/* CUSTOM TABS STUFF*/

.md-tabs
{
    transition: none;
    transition-duration: 0ms;
    transition-delay: 0ms;
}
.md-tab
{
    transition: none;
    transition-duration: 0ms;
    transition-delay: 0ms;
}

[role="tabpanel"],
md-tabs {
  transition: none;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

md-tab-data{
  opacity: 1;
  display: table;
  right: 0;
  left: initial;
  z-index: 20;
}

/*JsonTree copied the CSS and removed from index.html*/
/* Structure */
json-tree {
  box-sizing: border-box;
}
json-tree *,
json-tree *:before,
json-tree *:after {
  box-sizing: border-box;
}
json-tree .key {
  vertical-align: middle;
}
json-tree .expandable {
  position: relative;
}
json-tree .expandable::before {
  pointer-events: none;
}
json-tree .expandable::before,
json-tree .expandable > .key {
  cursor: pointer;
}

/* Looks */
json-tree ul {
  padding-left: 20px;
}
json-tree li,
json-tree ul {
  list-style: none;
}
json-tree li {
  line-height: 1.5em;
}
json-tree .key {
  color: #3598db;
  padding: 5px 10px 5px 15px;
}
json-tree .key::after {
  content: ':';
}
json-tree json-node.expandable::before {
  content: '\25b6';
  position: absolute;
  left: 0px;
  font-size: 10px;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}
json-tree json-node.expandable.expanded::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

json-tree .leaf-value,
json-tree .branch-preview {
  word-break: break-all;
}

json-tree .branch-preview {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-style: italic;
    max-width: 90%;
    height: 16px;
    opacity: .8;
    font-size: 14px;
}

.view-container {width:100%;}
.view-container.listOpened {
     width: -webkit-calc(100% - 220px);
     width:    -moz-calc(100% - 220px);
     width:         calc(100% - 220px);
 }​





/*TODO DeLETE ME Style Tab */

.sttabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
}
.sticon::before {
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  font-size: 20px;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sttabs nav {
  text-align: center;
}
.sttabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.sttabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sttabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}
.sttabs nav a span {
  vertical-align: middle;
  font-wight: 500;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.sttabs nav a:focus {
  outline: none;
}
.sttabs nav li.tab-current a {
  color: #fb9678;
}

/*.downloadDiv {
    background: white;
    position: absolute;
    right: 8px;
    top: 60px;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 0;
}*/

.downloadDiv {
    background: white;
    position: absolute;
    right: 18px;
    top: 180px;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 0;
}

.downloadDiv .checkbox label {
    padding-left: 14px;
    font-size: 14px;
}

.downloadDiv ul li{
list-style:none inside;
}

.downloadDiv ul{
  padding:0;
  margin:10px  20px;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
}
.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid rgba(120, 130, 140, 0.13);
    content: "";
    display: inline-block;
    height: 17px;
    left: 10px;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
    top: 8px;
}

   .checkbox label::after {
      color: #2b2b2b;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 10px;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: 8px;
      width: 16px;
  }
.checkbox input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'FontAwesome';
        color: #ffffff;

}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #03a9f3;
  border-color: #03a9f3;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #fec107;
  border-color: #fec107;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #00c292;
  border-color: #00c292;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}


.downloadDiv .checkbox input[type=checkbox] {
margin:3px 0;
}
.downloadDiv h4 {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px;
}


/*Vertical Tabs*/
.vertical-mdl-tabs {
    margin-top: 30px;
}
.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 2px solid #ED462F;
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
  padding: 15px 8px;
}
/* md autocomplete bug fix */
.md-scroll-mask {display:none;}

.topic-toolbar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,0.87);
}
.topic-toolbar ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,0.87);
}
.topic-toolbar :-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,0.87);
}
.topic-toolbar :-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,0.87);
}

.topic-toolbar md-autocomplete-wrap input {margin:0;padding:0;}
.topic-toolbar md-autocomplete {height:34px;}

[ng-click] {cursor:pointer;}
.topics-table tbody tr[ng-click]:hover {background:rgba(0,0,0,0.5);color:#fff;}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {padding:10px;}