<!DOCTYPE html>
<html>
<head>
  <title>Kafka Topics UI</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="src/assets/css/styles.css">
  <meta charset=utf-8/>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Kafka Topics UI">
  <meta name="keywords"
        content="kafka,schema registry,topics,kafka-topic,kafka-rest,kafka-rest-proxy,kafka management,avro">
  <meta name="author" content="Landoop Team">
  <link rel="shortcut icon" href="src/assets/icons/favicon-32x32.png">
</head>

<body ng-app="kafkaTopicsUIApp">

<!--Header Starts here-->
<header class="header">
  <div layout="row" layout-xs="column" layout-align="" style="height:50px">
    <div flex="nogrow" ng-controller="MenuCtrl">

      <md-fab-speed-dial ng-show="apps" ng-disabled="{{disableAppsMenu}}" class="md-scale" md-direction="down"
                         md-open="demo.isOpen" ng-cloak style="margin-top: -2px;">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="src/assets/icons/landoop.svg" style="margin-top: -15px;"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Schema Registry" class="md-fab md-raised md-mini" href="http://schema-registry-ui.landoop.com" target="_blank">
            <md-tooltip md-direction="right" style="padding-left:20px;" md-visible="demo.isOpen">Schema Registry</md-tooltip>
            <md-icon md-svg-src="src/assets/icons/schemaregistry.svg" aria-label="Schema Registry"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>

      <!--
      <md-menu ng-show="apps">
        <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)"
                   ng-disabled="{{disableAppsMenu}}">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </md-button>
        <md-menu-content width="5">
          <md-menu-item ng-repeat="app in apps">
            <md-button ng-if="app.enabled" ng-href="{{app.url}}">
              <md-icon style="margin:6px 10px 0 0">
                <i class="fa {{app.icon}}" aria-hidden="true"></i>
              </md-icon>
              <b ng-show="app.name.length > 0">{{app.name}}</b>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      -->
    </div>
    <div flex style="padding-top:5px">
      <h4><a href="/#/" style=";color:#fff;text-decoration:none;">KAFKA TOPICS</a></h4>
    </div>
  </div>
</header>

<!--Main Content Starts here-->
<div layout="row" layout-margin layout-sm="column" layout-xs="column">
  <div flex-gt-sm="33">
    <div ng-controller="KafkaTopicsListCtrl">
      <div ng-include="'src/left-list.html'"></div>
    </div>
    <br>
  </div>
  <div flex-gt-sm="66" flex>
    <ng-view></ng-view>
  </div>
</div>

<div layout-margin flex>
  <div flex="nogrow">
    <img src="http://www.landoop.com/images/landoop-dark.svg" style="width:20px;float: left;padding-right:5px;"></div>
  <div flex>
    <p class="md-caption">Powered by <a href="http://www.landoop.com/capabilities/kafka" target="_blank">LANDOOP</a></p>
  </div>
</div>

<!--CUSTOM-FOOTER-->

<script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
<script src="bower_components/spin.js/spin.min.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-base64/angular-base64.min.js"></script>
<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="bower_components/oboe/dist/oboe-browser.min.js"></script>
<script src="bower_components/angular-oboe/dist/angular-oboe.min.js"></script>
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="src/env.js"></script>
<script src="src/app.js"></script>
<script src="src/factories/kafka-topics-factory.js"></script>
<script src="src/factories/toast-factory.js"></script>
<script src="src/kafka-topics-list/kafka-topics-list.controller.js"></script>
<script src="src/kafka-topics-detail/kafka-topics-detail.controller.js"></script>

</body>
</html>