<div layout-margin layout="row" layout-sm="column">

  <!--1. TOPICS LIST-->
  <md-card flex="70" flex-sm="100" style="box-shadow:none;" >
    <md-toolbar class="md-hue-2" style="color:#333;z-index:0; background-color:#FAFAFA; box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);">
      <div class="md-toolbar-tools">
        <h3>
          <span ng-show="!displayingControlTopics"><b>{{normalTopics.length}}</b> TOPICS</span>
          <span ng-show="displayingControlTopics"><b>{{controlTopics.length}}</b> TOPICS</span>
        </h3>
        <span flex></span>
        <md-switch style="font-size:14px"  class="md-icon-button" ng-model='displayingControlTopics' aria-label="Show system topics" >
        <div ng-if="displayingControlTopics"><b>System Topics</b></div>
        <div ng-if="!displayingControlTopics"><b>System Topics</b></div>
        </md-switch>
      </div>
    </md-toolbar>
      <topics-list mode="normal" ng-show="!displayingControlTopics" cluster="{{cluster}}"></topics-list>
      <topics-list mode="system" ng-show="displayingControlTopics" cluster="{{cluster}}"></topics-list>
  </md-card>

  <!--2. DASHBOARD STUFF-->
  <div flex>
    <div layout="column">
      <total-topics></total-topics>
      <total-brokers></total-brokers>
    </div>

    <!--1. ENDPOINT INFORMATION -->
    <!--TODO-->
    <div ng-include="'src/kafka-topics/dashboard-components/config/config.html'"></div>
    <div ng-include="'src/kafka-topics/dashboard-components/version/project-version.html'"></div>
  </div>

</div>