<div layout-margin layout="row" layout-sm="column">

  <!--1. TOPICS LIST-->
  <md-card flex="70" flex-sm="100" style="box-shadow:none;" >
    <md-toolbar class="md-hue-2" style="color:#333;z-index:0; background-color:#FAFAFA; box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);">
      <div class="md-toolbar-tools">
        <h3>
          <span ng-show="!displayingControlTopics"><b>{{normalTopics.length}}</b> TOPICS</span>
          <span ng-show="displayingControlTopics"><b>{{controlTopics.length}}</b> TOPICS</span>
        </h3>
        <span flex></span>
        <md-switch style="font-size:14px"  class="md-icon-button" ng-model='displayingControlTopics' aria-label="Show system topics" >
        <div ng-if="displayingControlTopics"><b>System Topics</b></div>
        <div ng-if="!displayingControlTopics"><b>System Topics</b></div>
        </md-switch>
      </div>
    </md-toolbar>
    <topics-list mode="normal" ng-show="!displayingControlTopics"></topics-list>
    <topics-list mode="system" ng-show="displayingControlTopics"></topics-list>
  </md-card>

  <!--2. DASHBOARD STUFF-->
  <div flex>

    <div layout="column">

      <md-card style="margin-bottom:15px;box-shadow:none;">
        <md-card-content>
          <div layout="column">
            <div style="margin: 0px 0px 12px;font-weight: 500; text-transform: uppercase; font-size: 14px;">TOTAL TOPICS</div>
            <div layout="row">
              <div flex="25"><i style="font-size:50px; font-weight:100; color: #03a9f3; padding-top:10px" class="fa fa-folder-o" aria-hidden="true"></i></div>
              <div flex style="font-size: 50px; font-weight: 100;">{{normalTopics.length + controlTopics.length}}</div>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card style="margin-bottom:15px;box-shadow:none;">
        <md-card-content>
          <div layout="column">
              <div style="margin: 0px 0px 12px;font-weight: 500; text-transform: uppercase; font-size: 14px;">BROKERS</div>
              <div layout="row">
                  <div flex="25"><i style="font-size:50px; font-weight:100; color: #9675ce; padding-top:10px" class="fa fa-hdd-o" aria-hidden="true"></i></div>
                  <div flex style="font-size: 50px; font-weight: 100;">{{brokers.length}}</div>
              </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <!--<div ng-include="'src/kafka-topics/config/config.html'"></div>-->

    <!--1. ENDPOINT INFORMATION -->
    <md-card style="box-shadow:none;" >
      <md-content flex layout-padding>
        <div>
          <div style="margin: 0px 0px 8px;font-weight: 500; text-transform: uppercase; font-size: 14px;">KAFKA REST</div>
          {{kafkaRest}} <br>
          <!--<b>Kafka Brokers :</b> {{brokers.length}}<br>-->
          <span ng-show="connectionFailure" style="color:red">CONNECTIVITY ERROR</span>
        </div>
      </md-content>
    </md-card>

    <!--2. VERSION -->
    <md-card style="box-shadow:none; margin-top:15px;" >
      <md-content flex layout-padding>
        <div>
          <b style="font-weight: 500; text-transform: uppercase; font-size: 14px;">kafka-topics-ui</b> 0.8.1
        </div>
      </md-content>
    </md-card>

  </div>

</div>