<md-card style="min-height:700px;" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>

  <md-toolbar style="background-color: #ededed; color:#000;">
    <h3 class="md-toolbar-tools" style="margin-top:10px;text-align:center;">
      <b>Topic: </b> {{topicName}} &nbsp;&nbsp;&nbsp; <b>Type: </b> {{topicType}}
    </h3>
  </md-toolbar>

  <md-content flex layout-padding>
    <!-- Spinner -->
    <div us-spinner="{radius:10, width:3, length: 5}" ng-show="showSpinner" style="height:100%"></div>
    <!-- Custom Info Panel + Download + Stream buttons -->
    <div flex="100" ng-hide="showSpinner">
      <span class="md-title" style="font-size: 14px;" ng-bind-html="customMessage | sanitize"></span>
      <md-button
        download="true"
        ng-click="getData(topicName)"
        md-ink-ripple=""
        ng-show="true"
        class="md-raised md-primary md-button md-ink-ripple"
        style="background-color: rgb(65, 191, 236);color: white;padding:0;float: right;margin-top: -10px;"
        type="button"
        aria-label="Download data"
        aria-hidden="false">Download
        <div class="md-ripple-container"></div>
      </md-button>

      <md-menu style="padding:0">
        <md-button
          md-ink-ripple=""
          ng-show="true"
          class="md-raised md-primary md-button md-ink-ripple"
          style="background-color: rgb(65, 191, 236);color: white;float: right;margin-top: -10px;"
          type="button"
          aria-label="Stream data from topic"
          ng-click="openMenu($mdOpenMenu, $event)"
          aria-hidden="false">Stream data
          <div class="md-ripple-container"></div>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="streamFromBeginning($event)">
              <md-icon md-menu-align-target=""></md-icon>
              Stream from beginning
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="streamInRealTime()">
              <md-icon></md-icon>
              Stream in real-time
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <br>

    <md-tabs ng-hide="showSpinner" style="margin-top: -15px;" md-dynamic-height md-border-bottom md-selected="tabIndex">
      <!-- Custom rendering for _schemas topic -->
      <md-tab data-ng-if="topicName=='_schemas'">
        <md-tab-label>
          <i class="fa fa-table" aria-hidden="true"></i> Table
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <md-card>
              <md-card-content style="padding:0">
                <md-menu ng-show="apps">
                  <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)"
                             ng-disabled="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </md-button>
                  <md-menu-content width="5">
                    <md-menu-item ng-repeat="app in apps">
                      <md-button ng-if="app.enabled" ng-href="{{app.url}}">
                        <md-icon style="margin:6px 10px 0 0">
                          <i class="fa {{app.icon}}" aria-hidden="true"></i>
                        </md-icon>
                        <b ng-show="app.name.length > 0">{{app.name}}</b>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-card-content>
            </md-card>
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th class="text-center">Offset</th>
                <th class="text-center">Subject</th> <!-- kv. -->
                <th class="text-center">Partition</th>
                <th class="text-center">Magic</th>   <!-- k. -->
                <th class="text-center">Type</th>    <!-- k. -->
                <th class="text-center">Version</th> <!-- kv. -->
                <th class="text-center">Schema</th>  <!-- v. -->
              </tr>
              </thead>
              <tbody>
              <!--AA->{{rows}}-->
              <tr ng-repeat="i in rows track by $index">
                <td class="text-center">{{i.offset}}</td>
                <td class="text-center"><b>{{i.key.subject}}</b></td>
                <td class="text-center">{{i.partition}}</td>
                <td class="text-center">{{i.key.magic}}</td>
                <td class="text-center">{{i.key.keytype}}</td>
                <td class="text-center">{{i.value.version}}</td>
                <td class="text-center" ng-show="isSchemaLong(i.value.schema)">
                  <a md-ink-ripple=""
                     ng-show="true"
                     ng-href="{{getSchemaRegistryUrl(i.key.subject,i.value.version)}}"
                     target="_blank"
                     class="md-raised md-primary md-button md-ink-ripple"
                     style="background-color: rgb(65, 191, 236);color: white;margin:0"
                     type="button" aria-label="new topic"
                     aria-hidden="false">View
                    <div class="md-ripple-container"></div>
                  </a>
                </td>
                <td class="text-center" ng-show="!isSchemaLong(i.value.schema)">{{i.value.schema}}</td>
              </tr>
              </tbody>
            </table>
          </md-content>
        </md-tab-body>
      </md-tab>
      <!-- Custom rendering for connect-configs topic -->
      <md-tab data-ng-if="topicName=='connect-configs'">
        <md-tab-label>
          <i class="fa fa-table" aria-hidden="true"></i> Table
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <md-card>
              <md-card-content style="padding:0">
                <md-menu ng-show="apps">
                  <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </md-button>
                  <md-menu-content width="5">
                  </md-menu-content>
                </md-menu>
              </md-card-content>

            </md-card>
            <!-- Connectors -->
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <td
                  style="border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;border-bottom: 1px;">
                  <h4>Connectors</h4>
                </td>
              </tr>
              <tr>
                <th class="text-center">Offset</th>
                <th class="text-center">Key</th>
                <th class="text-center">Partition</th>
                <th class="text-center">Name</th>
                <th class="text-center">Topic</th>
                <th class="text-center">File</th>
                <th class="text-center">Tasks Max</th>
                <th class="text-center">Connector Class</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="i in getConnectors(rows,'connector-') track by $index">
                <td class="text-center">{{i.offset}}</td>
                <td class="text-center"><b>{{i.key}}</b></td>
                <td class="text-center">{{i.partition}}</td>
                <td class="text-center">{{getConnector(i).name}}</td>
                <td class="text-center">{{getConnector(i).topic}}</td>
                <td class="text-center">{{getConnector(i).file}}</td>
                <td class="text-center">{{getConnector(i).tasksmax}}</td>
                <td class="text-center">{{getConnector(i).class}}</td>
              </tr>
              <tr>
                <td
                  style="border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;background-color: white;">
                  <h4>Tasks</h4>
                </td>
              </tr>
              <tr>
                <th class="text-center">Offset</th>
                <th class="text-center">Key</th>
                <th class="text-center">Partition</th>
                <th class="text-center"></th>
                <th class="text-center">Topic</th>
                <th class="text-center">File</th>
                <th class="text-center"></th>
                <th class="text-center">Task Class</th>
              </tr>
              <tr ng-repeat="i in getConnectors(rows,'task-') track by $index">
                <td class="text-center">{{i.offset}}</td>
                <td class="text-center"><b>{{i.key}}</b></td>
                <td class="text-center">{{i.partition}}</td>
                <td class="text-center"></td>
                <td class="text-center">{{getTask(i).topic}}</td>
                <td class="text-center">{{getTask(i).file}}</td>
                <td class="text-center"></td>
                <td class="text-center">{{getTask(i).class}}</td>
              </tr>
              <tr>
                <td
                  style="border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;background-color: white;">
                  <h4>Commits</h4>
                </td>
              </tr>
              <th class="text-center">Offset</th>
              <th class="text-center">Key</th>
              <th class="text-center">Partition</th>
              <th class="text-center">Tasks</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center"></th>
              </tr>
              <tr ng-repeat="i in getConnectors(rows,'commit-') track by $index">
                <td class="text-center">{{i.offset}}</td>
                <td class="text-center"><b>{{i.key}}</b></td>
                <td class="text-center">{{i.partition}}</td>
                <td class="text-center">{{getCommit(i).tasks}}</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
              </tbody>
            </table>
            <!-- Tasks -->
            <table class="table table-bordered table-striped table-hover">
              <thead>

              </thead>
              <tbody>
              </tbody>
            </table>

          </md-content>
        </md-tab-body>
      </md-tab>
      <!-- Custom rendering for connect-status topic -->
      <md-tab data-ng-if="topicName=='connect-status'">
        <md-tab-label>
          <i class="fa fa-table" aria-hidden="true"></i> Table
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <md-card>
              <md-card-content style="padding:0">
                <md-menu ng-show="apps">
                  <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </md-button>
                  <md-menu-content width="5">
                  </md-menu-content>
                </md-menu>
              </md-card-content>

            </md-card>
            <h3>Compacted View</h3>
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th class="text-center">Offset</th>
                <th class="text-center">Key</th>
                <th class="text-center">Partition</th>
                <th class="text-center">State</th>
                <th class="text-center">Trace</th>
                <th class="text-center">Worker ID</th>
                <th class="text-center">Generation</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="i in getCompactedConnectStatus(rows,'') track by $index">

                <td class="text-center">{{i.offset}}</td>
                <td class="text-center"><b>{{i.key}}</b></td>
                <td class="text-center">{{i.partition}}</td>
                <td class="text-center">{{i.state}}</td>
                <td class="text-center">{{i.trace}}</td>
                <td class="text-center">{{i.workerId}}</td>
                <td class="text-center">{{i.generation}}</td>
              </tr>
              </tbody>
            </table>

            <h3>Full View</h3>
            <!-- Connector-Status -->
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th class="text-center">Offset</th>
                <th class="text-center">Key</th>
                <th class="text-center">Partition</th>
                <th class="text-center">State</th>
                <th class="text-center">Trace</th>
                <th class="text-center">Worker ID</th>
                <th class="text-center">Generation</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="i in getConnectStatus(rows,'') track by $index">

                <td class="text-center">{{i.offset}}</td>
                <td class="text-center"><b>{{i.key}}</b></td>
                <td class="text-center">{{i.partition}}</td>
                <td class="text-center">{{i.state}}</td>
                <td class="text-center">{{i.trace}}</td>
                <td class="text-center">{{i.workerId}}</td>
                <td class="text-center">{{i.generation}}</td>
              </tr>
              </tbody>
            </table>
            <!-- Tasks -->
            <table class="table table-bordered table-striped table-hover">
              <thead>

              </thead>
              <tbody>
              </tbody>
            </table>

          </md-content>
        </md-tab-body>
      </md-tab>
      <!-- Custom rendering for OTHER topics -->
      <md-tab ng-if="isNormalTopic(topicName)">
        <md-tab-label>
          <i class="fa fa-table" aria-hidden="true"></i> Table
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <md-card>
              <md-card-content style="padding:0">
                <md-menu ng-show="apps">
                  <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </md-button>
                  <md-menu-content width="5">
                  </md-menu-content>
                </md-menu>
              </md-card-content>

            </md-card>
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th class="text-center" ng-repeat="x in getTopicKeys(rows) track by $index">{{x}}</th>
              </tr>
              </thead>
              <tbody>
              <!--{{getTopicValues(rows)}}-->
              <tr ng-repeat="data in allTopicValues track by $index"/>

              <td class="text-center">{{data.key}}</td>
              <td class="text-center">{{data.partition}}</td>
              <td class="text-center">{{data.offset}}</td>
              <!--<td ng-if="data.a1.length >=1"class="text-center">{{data.a1[0}}</td>-->
              <!--<td ng-if="data.a1.length >= 1" class="text-center">{{data.a1</td>-->
              <td ng-repeat="a in data.a1 track by $index" class="text-center">{{a}}</td>
              <!--<td ng-if="totalKeys >=7" class="text-center">{{data.a4}}</td>-->
              <!--<tr class="text-center" ng-repeat="y in getTopicValues(rows) track by $index">{{y}}</tr>-->

              <!--<tr ng-repeat="xxx in getTopicValues(rows) track by $index">-->
              <!--{{xxx}}-->
              <!--<td class="text-center">{{i.key}}</td>-->
              <!--<td class="text-center">{{i.partition}}</td>-->
              <!--<td class="text-center">{{i.offset}}</td>-->
              <!--</tr>-->
              </tbody>
            </table>
            <!-- Tasks -->

          </md-content>
        </md-tab-body>
      </md-tab>

      <md-tab md-on-select="onTabSelected(1)" label="Data">
        <div id="left"
             ng-model="aceString" ng-readonly="true" ui-ace="{
                          useWrapMode: true,
                          showGutter: true,
                          theme:'chrome',
                          mode: 'json',
                          firstLineNumber: 1,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                          }"></div>
      </md-tab>
    </md-tabs>
    <div>
    </div>
  </md-content>

  <!--
  <div layout="row" width="50%">
    <md-button class="md-raised" ng-click='consumeKafkaRest("avro", topicName);'>get avro</md-button>
    <md-button class="md-raised" ng-click='consumeKafkaRest("json", topicName);'>get json</md-button>
    <md-button class="md-raised" ng-click='consumeKafkaRest("binary", topicName);'>get binary</md-button>
  </div>
  -->
</md-card>
