<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>

  <md-toolbar style="background-color: #ededed; color:#000;">
    <h3 class="md-toolbar-tools" style="margin-top:10px;text-align:center;">
      <b>Topic: </b> {{topicName}} &nbsp;&nbsp;&nbsp; <b>Type: </b> {{topicType}}
    </h3>
  </md-toolbar>

  <md-content flex layout-padding>
    <div us-spinner="{radius:10, width:3, length: 5}" ng-show="showSpinner" style="height:100%"></div>
    <md-tabs ng-hide="showSpinner" md-dynamic-height md-border-bottom md-selected="tabIndex">
      <md-tab label="Data">
        <div id="left"
             ng-model="aceString" ng-readonly="true" ui-ace="{
                          useWrapMode: true,
                          showGutter: false,
                          theme:'chrome',
                          mode: 'json',
                          firstLineNumber: 1,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                          }"></div>
      </md-tab>
      <md-tab md-on-select="onTabSelected(1)">
        <md-tab-label>
          <i class="fa fa-table" aria-hidden="true"></i> Table
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <!--put table here-->
            <!-- 3a. data table -->
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <md-icon class="md-avatar-icon"
                           style="padding:0;background-color:white"></md-icon>
                  <!--md-svg-icon="src/assets/icons/avro.svg"-->

                </md-card-avatar>
                <md-card-header-text>
                  <span class="md-title"><b>type:</b> {{subjectObject.Schema.type}}</span>
                  <span class="md-title"><b>name:</b> {{subjectObject.Schema.name}}</span>
                  <span class="md-title"><b>namespace:</b> {{subjectObject.Schema.namespace}}</span>
                </md-card-header-text>
              </md-card-header>
              <!--class="md-card-image"-->
              <md-card-content>
                </div>
                <p class="md-card-image md-caption">{{subjectObject.Schema.doc}}</p>
              </md-card-content>

            </md-card>
            <br><br>
            <table class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Partition</th>
                <th>Offset</th>
              </tr>
              <!--<th ng-show="row.key != undefined" ng-repeat="row in rows">-->
              <!--{{row.key.subject}}-->
              <!--</th>-->
              </tr>
              </thead>
              <tbody>
              AA->{{rows}}
              <tr ng-repeat="i in rows">
                <td>{{i.key}}</td>
                <td>{{i.value}}</td>
                <td>{{i.partition}}</td>
                <td>{{i.offset}}</td>
                <td class="md-card-image md-caption">{{i.doc}}</td>
              </tr>
              </tbody>
            </table>
            <!--A {{row}}-->

          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <div>
    </div>
  </md-content>
  <div layout="row" width="50%">
    <md-button class="md-raised" ng-click='consumeKafkaRest("avro", topicName);'>get avro</md-button>
    <md-button class="md-raised" ng-click='consumeKafkaRest("json", topicName);'>get json</md-button>
    <md-button class="md-raised" ng-click='consumeKafkaRest("binary", topicName);'>get binary</md-button>
  </div>

</md-card>


<!--<div class="row" style="padding-bottom:20px;">-->
<!--<div class="btn-toolbar" role="toolbar" style="margin-left: 5px;">-->

<!--&lt;!&ndash; 1. subject-name &ndash;&gt;-->
<!--<div style="padding-top: 5px;margin-left: 10px;margin-right: 10px;float: left;min-width:250px;">-->
<!--<b>Topic:</b> {{topicName}}-->
<!--</div>-->

<!--<button ng-click='consumeKafkaRest("avro", topicName);'>get avro</button>-->
<!--<button ng-click='consumeKafkaRest("json", topicName);'>get json</button>-->
<!--<button ng-click='consumeKafkaRest("binary", topicName);'>get binary</button>-->


<!--</div>-->

<!--</div> &lt;!&ndash; end if selected subject &ndash;&gt;-->
