<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >

    <md-toolbar style="background-color: #ededed; color:#000;">
        <h3 class="md-toolbar-tools" style="margin-top:10px;text-align:center;">
            <b>Topic: </b> {{topicName}}
        </h3>
    </md-toolbar>
    <div layout="row" width="50%">
    <md-button flex class="md-raised" ng-click='consumeKafkaRest("avro", topicName);'>get avro</md-button>
    <md-button flex class="md-raised" ng-click='consumeKafkaRest("json", topicName);'>get json</md-button>
    <md-button flex class="md-raised" ng-click='consumeKafkaRest("binary", topicName);'>get binary</md-button>
    </div>

    <md-content flex layout-padding>
        <md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">
            <md-tab label="Data">
                <div id="left"
                     ng-model="aceString" ng-readonly="true" ui-ace="{
                          useWrapMode: true,
                          showGutter: false,
                          theme:'chrome',
                          mode: 'json',
                          firstLineNumber: 1,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                          }"></div>
            </md-tab>
            <!--<md-tab label="Table">-->
                <!--table-->
            <!--</md-tab>-->
        </md-tabs>
        <div>
        </div>
    </md-content>
</md-card>















    <!--<div class="row" style="padding-bottom:20px;">-->
        <!--<div class="btn-toolbar" role="toolbar" style="margin-left: 5px;">-->

            <!--&lt;!&ndash; 1. subject-name &ndash;&gt;-->
            <!--<div style="padding-top: 5px;margin-left: 10px;margin-right: 10px;float: left;min-width:250px;">-->
                <!--<b>Topic:</b> {{topicName}}-->
            <!--</div>-->

            <!--<button ng-click='consumeKafkaRest("avro", topicName);'>get avro</button>-->
            <!--<button ng-click='consumeKafkaRest("json", topicName);'>get json</button>-->
            <!--<button ng-click='consumeKafkaRest("binary", topicName);'>get binary</button>-->


    <!--</div>-->

<!--</div> &lt;!&ndash; end if selected subject &ndash;&gt;-->
