<md-tab-body>
    <md-content class="padding:0">
        <md-tab-body>
            <md-content class="padding:0">
                <hot-table hot-id="my-handsontable"
                           min-cols="hotTableHeaders.length"
                           height="maxHeight"
                           width="hotsWidth"
                           col-headers="hotTableHeaders"
                           sort-Indicator="true"
                           manual-Column-Move = "true"
                           read-only="true"
                           column-Sorting="true"
                           datarows="hotRows"></hot-table>
            </md-content>
        </md-tab-body>
    </md-content>
</md-tab-body>