<md-content>
  <div layout="column">

    <!-- 1. SEARCH TOPICS -->
    <div flex style="margin:10px; ">
      <md-input-container class="md-block" style="margin-bottom:-25px; width:50%">
        <label>Search topics:</label>
        <input ng-model="search">
      </md-input-container>
    </div>

    <!-- 2. TOPICS LIST TABLE-->
    <div flex>

      <table class="topics-table">
        <thead>
        <tr>
          <th>TOPIC NAME</th>
          <th class="td-center">REPLICATION</th>
          <th class="td-center">PARTITIONS</th>
          <th class="td-center">KEY TYPE</th>
          <th class="td-center">VALUE TYPE</th>
          <th>CONFIGS</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="topic in controlTopics| orderBy:'topicName' | filter: search | itemsPerPage:30"
            pagination-id="controlTopics"
            ng-click="listClick(topic.topicName, topic.isControlTopic)"
            ng-class="{ 'selectedListItem': topic.topicName == topicName }">
          <td>{{shortenControlCenterName(topic.topicName)}}</td>
          <td class="td-center">{{topic.replication}}</td>
          <td class="td-center">{{topic.partitions}}</td>
          <td class="td-center"><span class="label-type label-type-{{topic.keyType}}" ng-if="topic.keyType != ''">{{topic.keyType}}</span></td>
          <td class="td-center"><span class="label-type label-type-{{topic.valueType}}" ng-if="topic.valueType != ''">{{topic.valueType}}</span></td>
          <td><span ng-if="topic.customConfig.length > 0">{{topic.customConfig.length}} config changed</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div flex class="leftlistPagination">
      <dir-pagination-controls pagination-id="controlTopics" style="margin:0;"></dir-pagination-controls>
    </div>
  </div>

</md-content>