<md-card>
  <md-toolbar  class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>
        <span ng-show="!displayingControlTopics"><b>{{topics.length}}</b> Topics</span>
        <span ng-show="displayingControlTopics"><b>{{controlTopics.length}}</b> Topics</span>
      </h2>

      <span flex></span>
      <md-switch style="font-size:14px"  class="md-icon-button" ng-model='displayingControlTopics' aria-label="Show system topics" >
        <div ng-if="displayingControlTopics"><b>System Topics</b></div>
        <div ng-if="!displayingControlTopics"><b>System Topics</b></div>
      </md-switch>
    </div>

  </md-toolbar>

  <div ng-show="!displayingControlTopics" ng-include="'src/kafka-topics/list/topics-list.html'"></div>
  <div ng-show="displayingControlTopics" ng-include="'src/kafka-topics/list/control-topics-list.html'"></div>

</md-card>