
<md-content>

  <div layout="column">
    <!--Search-->
    <div flex>
      <md-input-container class="md-block" style="margin-bottom:-25px;">
        <label>Search topics</label>
        <input ng-model="search">
      </md-input-container>
    </div>

    <!--Topics List-->
    <div flex>
      <md-list class="md-dense" flex>
        <md-list-item dir-paginate="topic in topics| orderBy:'topic' | filter : search | itemsPerPage:topicsPerPage"
                      pagination-id="topics"
                      ng-click="listClick(topic)" class="md-2-line"
                      current-page="normalTopicPage"
                      ng-class="{ 'selectedListItem': topic == topicName }">

          <div class="md-list-item-text" layout="column">
            <h4>{{topic}}</h4>
            <p style="font-size:12px;">
              {{getPartitionMessage(topic)}}<span ng-if="hasExtraConfig(topic) > 0">,
              {{hasExtraConfig(topic)}} config changed</span>
            </p>
          </div>
          <div style="display:block;background-color:rgba(44, 152, 240, 0.3);border-radius: 5px; width:60px; color:#333; text-align:center; font-size:12px">
            {{getDataType(topic)}}
          </div>
        </md-list-item>
      </md-list>
    </div>

    <!--Pagination-->
    <div flex class="leftlistPagination">
      <dir-pagination-controls pagination-id="topics" style="margin:0;"></dir-pagination-controls>
    </div>
  </div>

</md-content>