<!-- Custom rendering for _schemas topic -->
<md-tab data-ng-if="topicName=='_schemas'">
  <md-tab-label style="color: rgb(96,125,139);">
    <i class="fa fa-table" aria-hidden="true" style="padding-right:10px;"></i> Topic
  </md-tab-label>
  <md-tab-body>
    <div class="md-title" style="font-size: 14px;padding:10px;" ng-bind-html="customMessage | sanitize"></div>
    <md-card>
      <md-card-content style="padding:0">
        <md-menu ng-show="apps">
          <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)"
                     ng-disabled="false">
            <i class="fa fa-bars" style="padding-right:10px;" aria-hidden="true"></i>
          </md-button>
          <md-menu-content width="5">
            <md-menu-item ng-repeat="app in apps">
              <md-button ng-if="app.enabled" ng-href="{{app.url}}">
                <md-icon style="margin:6px 10px 0 0">
                  <i class="fa {{app.icon}}" style="padding-right:10px;" aria-hidden="true"></i>
                </md-icon>
                <b ng-show="app.name.length > 0">{{app.name}}</b>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-content>
    </md-card>

    <md-table>
      <md-table-container>
        <table md-table md-row-select="optionsTable.rowSelection" multiple="{{optionsTable.multiSelect}}"
               ng-model="selected" md-progress="promise">
          <thead ng-if="!optionsTable.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column md-order-by="offset" style="text-align: center;padding:0"><span>Offset</span></th>
            <th md-column md-order-by="partition" style="text-align: center;padding:0"><span>Partition</span></th>
            <th md-column md-order-by="key.subject" style="text-align: center;padding:0"><span>Subject</span></th>
            <th md-column md-order-by="key.magic" style="text-align: center;padding:0"><span>Magic</span></th>
            <th md-column md-order-by="key.keytype" style="text-align: center;padding:0"><span>Type</span></th>
            <th md-column md-order-by="value.version" style="text-align: center;padding:0"><span>Version</span></th>
            <th md-column md-order-by="doc" style="text-align: center;padding:0"><span>Schema</span></th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row style="height:40px;border-bottom: 1px solid #eeeeee" md-select="selected" md-select-id="name"
              ng-repeat="i in rows track by $index">
            <td class="text-center">{{i.offset}}</td>
            <td class="text-center">{{i.partition}}</td>
            <td class="text-center"><b>{{i.key.subject}}</b></td>
            <td class="text-center">{{i.key.magic}}</td>
            <td class="text-center">{{i.key.keytype}}</td>
            <td class="text-center">{{i.value.version}}</td>
            <td class="text-center" ng-show="isSchemaLong(i.value.schema)">
              <a md-ink-ripple=""
                 ng-show="true"
                 ng-href="{{getSchemaRegistryUrl(i.key.subject,i.value.version)}}"
                 target="_blank"
                 class="md-raised md-primary md-button md-ink-ripple"
                 style="background-color: rgb(65, 191, 236);color: white;margin:0;margin-top: 5px;box-shadow: 0 1px 5px 0 rgba(0,0,0,.26);"
                 type="button" aria-label="new topic"
                 aria-hidden="false">View
                <div class="md-ripple-container"></div>
              </a>
            </td>
            <td class="text-center" ng-show="!isSchemaLong(i.value.schema)">{{i.value.schema}}</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-table>

  </md-tab-body>
</md-tab>
