<!-- Custom rendering for connect-configs topic -->
<md-tab data-ng-if="topicName=='connect-configs'">
  <md-tab-label>
    <i class="fa fa-table" style="padding-right:10px;" aria-hidden="true"></i> Table
  </md-tab-label>
  <md-tab-body>
    <md-content ng-show="{{getConnectors(rows,'connector-').length ==0}}" class="md-padding">
      <h5>No kafka-connector is currently active</h5>
    </md-content>
    <md-content ng-hide="{{getConnectors(rows,'connector-').length ==0}}" class="md-padding">
      <span class="md-title" style="font-size: 14px;" ng-bind-html="customMessage | sanitize"></span>
      <br>
      <md-card>
        <md-card-content style="padding:0">
          <md-menu ng-show="apps">
            <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)">
              <i class="fa fa-bars" style="padding-right:10px;" aria-hidden="true"></i>
            </md-button>
            <md-menu-content width="5">
            </md-menu-content>
          </md-menu>
        </md-card-content>

      </md-card>
      <!-- Connectors -->
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <td
            style="border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;border-bottom: 1px;">
            <h4>Connectors</h4>
          </td>
        </tr>
        <tr>
          <th class="text-center">Offset</th>
          <th class="text-center">Key</th>
          <th class="text-center">Partition</th>
          <th class="text-center">Name</th>
          <th class="text-center">Topic</th>
          <th class="text-center">File</th>
          <th class="text-center">Tasks Max</th>
          <th class="text-center">Connector Class</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in getConnectors(rows,'connector-') track by $index">
          <td class="text-center">{{i.offset}}</td>
          <td class="text-center"><b>{{i.key}}</b></td>
          <td class="text-center">{{i.partition}}</td>
          <td class="text-center">{{getConnector(i).name}}</td>
          <td class="text-center">{{getConnector(i).topic}}</td>
          <td class="text-center">{{getConnector(i).file}}</td>
          <td class="text-center">{{getConnector(i).tasksmax}}</td>
          <td class="text-center">{{getConnector(i).class}}</td>
        </tr>
        <tr>
          <td
            style="border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;background-color: white;">
            <h4>Tasks</h4>
          </td>
        </tr>
        <tr>
          <th class="text-center">Offset</th>
          <th class="text-center">Key</th>
          <th class="text-center">Partition</th>
          <th class="text-center"></th>
          <th class="text-center">Topic</th>
          <th class="text-center">File</th>
          <th class="text-center"></th>
          <th class="text-center">Task Class</th>
        </tr>
        <tr ng-repeat="i in getConnectors(rows,'task-') track by $index">
          <td class="text-center">{{i.offset}}</td>
          <td class="text-center"><b>{{i.key}}</b></td>
          <td class="text-center">{{i.partition}}</td>
          <td class="text-center"></td>
          <td class="text-center">{{getTask(i).topic}}</td>
          <td class="text-center">{{getTask(i).file}}</td>
          <td class="text-center"></td>
          <td class="text-center">{{getTask(i).class}}</td>
        </tr>
        <tr>
          <td
            style="border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;background-color: white;">
            <h4>Commits</h4>
          </td>
        </tr>
        <th class="text-center">Offset</th>
        <th class="text-center">Key</th>
        <th class="text-center">Partition</th>
        <th class="text-center">Tasks</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        </tr>
        <tr ng-repeat="i in getConnectors(rows,'commit-') track by $index">
          <td class="text-center">{{i.offset}}</td>
          <td class="text-center"><b>{{i.key}}</b></td>
          <td class="text-center">{{i.partition}}</td>
          <td class="text-center">{{getCommit(i).tasks}}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        </tbody>
      </table>
      <!-- Tasks -->
      <table class="table table-bordered table-striped table-hover">
        <thead>

        </thead>
        <tbody>
        </tbody>
      </table>

    </md-content>
  </md-tab-body>
</md-tab>
