<!-- Custom rendering for OTHER topics -->
    <md-tab-body>
        <md-content class="padding:0">
                <table class="flat-table">
                    <thead>
                    <tr>
                        <th rowspan="2" class="td-center">offset</th>
                        <th rowspan="2" class="td-center">partition</th>
                        <th ng-if="cols3.length==0" rowspan="2" class="td-center" colspan="{{extraColsNumKeys}}" >key</th>
                        <th ng-if="cols3.length > 0" class="td-center" colspan="{{extraColsNumKeys}}" >key</th>
                        <th ng-if="cols2.length==0" rowspan="2" class="td-center" colspan="{{extraColsNumValues}}" >Value</th>
                        <th ng-if="cols2.length > 0" class="left" colspan="{{extraColsNumValues}}" >Value</th>
                    </tr>
                    <tr>
                        <th ng-repeat="c3 in cols3" class="td-left">{{c3}}</th>
                        <th ng-repeat="c in cols2" class="td-left" >{{c}}</th>
                    </tr>
                    <tr style="display:none;">
                        <th ng-repeat="column in cols">{{column}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="row in flatRows | filter : searchMessages| itemsPerPage: paginationItems"  pagination-id="flatView">
                        <td nowrap ng-repeat="column in cols" class="{{ column.indexOf('value') == 0 ? '' : 'td-center' }}">
                            <span>{{row[column]}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div flex>
                    <dir-pagination-controls pagination-id="flatView" style="margin:0;"></dir-pagination-controls>
                </div>

        </md-content>
    </md-tab-body>