<!-- Custom rendering for OTHER topics -->
<md-tab  ng-if="topicType != 'binary'">
  <md-tab-label>Topic</md-tab-label>
  <md-tab-body>
    <md-content class="normalcontent">
        <table>
          <thead>
          <tr>
            <th class="td-center">Offset</th>
            <th class="td-center">Partition</th>
            <th>Key</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <!--TODO remove gridOptions-->
          <tr dir-paginate="t in gridOptions.data | filter : searchMessages | itemsPerPage: paginationItems"  pagination-id="treeView">
            <td valign="top" class="td-center">{{t.offset}}</td>
            <td valign="top" class="td-center">{{t.partition}}</td>

            <!--Key-->
            <td ng-if="t.key != ''"  valign="top" style="min-width:250px;"><json-tree object="t.key" root-name="'Key'"></json-tree></td>
            <td ng-if="t.key == ''" valign="top"></td>

            <!--Value-->
            <td ng-if="t.value != ''"  valign="top" style="min-width:250px;"><json-tree object="t.value" root-name="'Value'"></json-tree></td>
            <td ng-if="t.value == ''" valign="top"></td>

          </tr>
          </tbody>
        </table>

        <div flex>
          <dir-pagination-controls pagination-id="treeView" style="margin:0px"></dir-pagination-controls>
        </div>

    </md-content>
  </md-tab-body>
</md-tab>
