<!-- Custom rendering for OTHER topics -->
<md-tab ng-if="isNormalTopic(topicName)">
  <md-tab-label>
    <!--class="fa fa-table"-->
    <i style="padding-right:10px;" aria-hidden="true"></i> Topic
  </md-tab-label>
  <md-tab-body>
    <md-content class="padding:0">
      <!--<span class="md-title" style="font-size: 14px;" ng-bind-html="customMessage | sanitize"></span>-->
      <!--<br>-->
      <md-card>
        <md-card-content style="padding:0">
          <md-menu ng-show="apps">
            <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)">
              <i class="fa fa-bars" style="padding-right:10px;" aria-hidden="true"></i>
            </md-button>
            <md-menu-content width="5">
            </md-menu-content>
          </md-menu>
        </md-card-content>

      </md-card>
      <div ng-show="topicIsEmpty">
        <br>
        <p>This topic is empty. No data have been passed through the past 7 days.<br>
        </p>
        <p ng-hide="isControlTopic(topicName)">
          You could delete this topic with:<br>
          <pre>{{KAFKA_TOPIC_DELETE_COMMAND}} {{topicName}}</pre>
        </p>
      </div>

      <div ng-hide="topicIsEmpty">
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns></div>
      </div>

    </md-content>
  </md-tab-body>
</md-tab>
