<!--<md-toolbar class="md-hue-2" style="background-color:#fff;color:#333">-->
    <!--<div class="md-toolbar-tools">-->
        <!--<md-button ng-click="toggleList()">-->
            <!--<i ng-show="showList" class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color:#333"></i>-->
            <!--<i ng-hide="showList" class="fa fa-bars" aria-hidden="true" style="color:#333"></i>-->
        <!--</md-button>-->
        <!--<h4 style="font-size:16px;">-->
            <!--<span>{{topic.topicName}}</span>-->
        <!--</h4>-->

        <!--<span flex></span>-->
        <!--<small style="color:#333;font-size:10px;">-->
            <!--<span class="labelType label-type-{{topic.keyType}}"> {{topic.keyType}} </span> /-->
            <!--<span class="labelType label-type-{{topic.valueType}}"> {{topic.valueType}} </span> </small>-->

    <!--</div>-->
<!--</md-toolbar>-->

<div layout="row" flex="100" style="min-height:34px; line-height:33px">
    <md-content flex layout-padding style="border-bottom: 1px solid rgba(0,0,0,0.12);">
        <md-button ng-click="toggleList()" style="margin:0px; line-height:0; min-height:0px;">
        <i ng-show="showList" class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color:#333"></i>
        <i ng-hide="showList" class="fa fa-bars" aria-hidden="true" style="color:#333"></i>
        </md-button>
        {{cluster.NAME}}<span style="padding: 0px 10px; ">/</span>
        <a href="#/">topics</a> <span style="padding: 0px 10px; ">/</span>
        {{topic.topicName}}
        <span ng-show="topic.totalMessages == 0" style="float:right; padding: 0px 15px; background:#fcf8e3;">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            This topic is empty.
        </span>
    </md-content>
</div>
