<h3 style="padding: 10px 0px">Consumers</h3>

<md-content style="padding:10px;">

    <p style="color: #797979;"> <b>Consumers for this topic: 5 </b></p>


    <table class="topics-table">
        <thead>
        <tr>
            <th>Consumer</th>
            <th>Consumption</th>
            <th>Consumer offset</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>test-consumer</td><td>100% coverage / 0% lag</td><td>123</td></tr>
        <tr><td>test-consumer2</td><td style="color:red;">80% coverage / 123 lag</td><td>324</td></tr>

        </tbody>
    </table>
</md-content>

