   <h3 style="padding: 10px 0px">Partitions</h3>

    <md-content flex="100" style="padding:10px">
        <table class="topics-table" style="padding-top:0px; margin-top:0px">
            <tr>
                <td style="border:0px;" flex>TOTAL PARTITIONS:<span style="margin-left:20px"> {{topic.partitions}}</span></td>
                <td style="border:0px;">REPLICATION: <span style="margin-left:20px">{{topic.replication}}</span></td>
            </tr>
            <tr>
                <td>UNREPLICATED PARTITIONS:<span style="margin-left:20px">xx</span></td>
                <td>TOPIC BROKERS: <span style="margin-left:20px">xx</span></td>
            </tr>
        </table>
    </md-content>


<md-content layout="column" style="padding:10px;">
    <div flex="100" google-chart chart="chartObject" ng-if="topic.partitions > 1"></div>
    <table class="topics-table">
        <thead>
        <tr>
            <th class="td-center">PARTITION</th>
            <th class="td-center">MESSAGES</th>
            <th class="td-center">BROKER</th>
            <th class="td-center">LEADER</th>
            <!--<th class="td-center">xx</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mpp in topic.messagesPerPartition | orderBy:'-messages'">
            <td class="td-center">{{mpp.partition}}</td>
            <td class="td-center">{{mpp.messages}}</td>
            <td class="td-center">xxx.xxx.xxx.xxx</td>
            <td class="td-center">xxx.xxx.xxx.xxx</td>
            <!--<td style="float:right;">-->
                <!--<div ng-if="mpp.partition == 20" id="abc" style="margin:0;padding:0">abc</div>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
    </div>

<!--<div id="spider" style="min-width: 600px; max-width: 600px; height: 600px; margin: 0 auto"></div>-->

</md-content>
