<!-- Custom rendering for Config overrides -->
  <md-tab-body>
    <md-content class="md-padding">
        <table class="flat-table"  ng-if ="hasExtraConfig(topicName) != ''">
          <thead>
          <tr>
            <th class="td-center">Comfiguration</th>
            <th  class="td-center">Value</th>
            <th  class="td-center">Default Value</th>
            <th  class="td-center">Description</th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="(key,value) in getExtraConfig(topicName) track by $index">
            <td  class="td-center">
              <span>{{key}}</span>
            </td>
            <td  class="td-center">
              <span>{{value}}</span>
            </td>
            <td  class="td-center">
              <span>{{getDefautConfigValue(key)}}</span>
            </td>
            <td style="max-width:500px;" ng-title="{{getConfigDescription(key)}}" class=" td-left">
              <span ng-hide="showMoreDesc">{{ getConfigDescription(key) | limitTo:100 }}...</span>
              <span ng-show="showMoreDesc">{{ getConfigDescription(key)}}</span>

              <span class="toggleconfig" ng-click="ToggleMoreDesc()">
                <span ng-show="showMoreDesc" aria-hidden="true">Show Less</span>
                <span ng-hide="showMoreDesc" aria-hidden="true">Show More</span>
                </span>
            </td>
          </tr>
          </tbody>
          </table>
        <div class="container-fluid-centered ng-scope" ng-if ="hasExtraConfig(topicName) == ''" style="height: 352px;">
            <div class="row-fluid">
                <div class="centering text-center">
                  This topic retains the default configuration
                </div>
            </div>
        </div>
    </md-content>
  </md-tab-body>
