<!-- Custom rendering for Config overrides -->

  <md-tab-body>
    <md-content class="md-padding">
      <md-card>
        <md-card-content style="padding:0">
          <md-menu ng-show="apps">
            <md-button aria-label="menu" class="md-fab md-mini light-blue" ng-click="$mdOpenMenu($event)">
              <i class="fa fa-bars" style="padding-right:10px;" aria-hidden="true"></i>
            </md-button>
            <md-menu-content width="5">
            </md-menu-content>
          </md-menu>
        </md-card-content>

      </md-card>

      <md-content>
        <table class="flat-table">
          <thead>
          <tr>
            <th class="td-center">Key</th>
            <th  class="td-center">Value</th>
            <th  class="td-center">Default Value</th>
            <th  class="td-center">Description</th>
          </tr>
          </thead>
          <tbody>

          <tr ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-repeat="(key,value) in getExtraConfig(topicName) track by $index">
            <td  class="td-center">
              <span>{{key}}</span>
            </td>
            <td  class="td-center">
              <span>{{value}}</span>
            </td>
            <td  class="td-center">
              <span>{{getDefautConfigValue(key)}}</span>
            </td>
            <td ng-title="{{getConfigDescription(key)}}" class=" td-left">
              <span ng-hide="showMoreDesc">{{ getConfigDescription(key) | limitTo:60 }}...</span>
              <span ng-show="showMoreDesc">{{ getConfigDescription(key)}}</span>

              <span ng-click="ToggleMoreDesc()">
                <span ng-show="showMoreDesc" style="float:right;"  aria-hidden="true">Show Less</span>
                <span ng-hide="showMoreDesc" style="float:right;padding-right:20px;"  aria-hidden="true">Read More</span>
                </span>
            </td>
          </tr>
          </tbody>
          </table>

    </md-content>
    </md-content>
  </md-tab-body>
