<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
  <div ng-show="!displayingControlTopics" ng-include="'src/kafka-topics/list/topics-list.html'"></div>
  <div ng-show="displayingControlTopics" ng-include="'src/kafka-topics/list/control-topics-list.html'"></div>

  <md-switch ng-model='displayingControlTopics'
             aria-label="Show system topics"
             style="margin:0;padding-left: 20px;padding-bottom: 7px;margin-top:20px">
    <div ng-if="displayingControlTopics"><b>System Topics</b></div>
    <div ng-if="!displayingControlTopics">System Topics</div>
  </md-switch>
</md-card>