<div style="background-color:#F5F5F5;">
  <md-toolbar ng-show="!displayingControlTopics" class="md-hue-2" style="background-color:#fff;color:#333">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleList()">
        <i ng-show="showList" class="fa fa-expand" aria-hidden="true" style="color:#333"></i>
        <i ng-hide="showList" class="fa fa-compress" aria-hidden="true" style="color:#333"></i>
      </md-button>
      <h4 style="font-size:16px;">
        <span>{{topicName}}</span>
      </h4>
      <span flex></span>

        <small style="color:#333;font-size:10px;"> <span class="labelType"> STRING </span> / <span class="labelType"> AVRO </span> </small>

      <md-button  download="true"
              ng-click="getData(topicName)"
              aria-label="Download data"
              aria-hidden="false">
        <i class="fa fa-download" aria-hidden="true" style="color:#333"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="showSpinner"></md-progress-linear>



    <section ng-hide="showSpinner" style="background-color:#FAFAFA; border:1px solid #f4f5f7">
        <div class="sttabs tabs-style-bar">
            <nav>
                <ul>
                    <li class="tab-current"><a href="#section-bar-1" class="sticon ti-home"><span>Data</span></a></li>
                    <li><a href="#section-bar-2" class="sticon ti-trash"><span>Analytics</span></a></li>
                    <li><a href="#section-bar-3" class="sticon ti-stats-up"><span>Configuration</span></a></li>
                </ul>
            </nav>
        </div><!-- /tabs -->
    </section>





  <div style="background-color:#F5F5F5;" ng-cloak layout-margin ng-hide="showSpinner">

      <!-- Show when topic is empty -->
      <div layout="row" layout-align="start center" style="margin:10px;padding:10px;background:#fcf8e3;" ng-show="topicIsEmpty">
          <div style="color:#333;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              This topic is empty.
          </div>
      </div>

      <!-- Show when topic has data -->

      <!--<md-card layout="column" ng-hide="getExtraConfig(topicName) == '' && topicIsEmpty">-->
      <md-card>


              <!--<md-card>-->
              <div style="background:#fff" layout="column">
                  <div>
                      <!--TODO-->
                      <small style="font-size:10px;">
                          <!--{{chartSelection}}Selected Min: 2017-01-14 20:31:26 / Selected Max: 2017-01-14 21:10:22-->
                          <span flex></span>
                          <md-button style="font-size:10px;float:right;line-height: 0px; min-height: 0px;" ng-show="!showChart" ng-click="toggleChart()"> <i class="fa fa-eye-slash" aria-hidden="true"></i> Hide chart </md-button>
                          <md-button style="font-size:10px;float:right;line-height: 0px; min-height: 0px;" ng-show="showChart" ng-click="toggleChart()"> <i class="fa fa-eye" aria-hidden="true"></i> Show chart </md-button>
                      </small>
                  </div>

                  <div>
                      <div ng-hide="showChart" id="container" style="float:left; min-width: 300px; height: 450px; margin: 0 auto; width:80% !important;"></div>
                      <div ng-show="showChart" id="container2" style="float:left; min-width: 300px; height: 100px; margin: 0 auto; width:80% !important;"></div>
                  </div>

                  <!--<div>-->
                      <!--<div style="width:100%;text-align:right;" ng-show="showButton">-->
                          <!--<md-button layout-align="end"  ng-show="!showChart" ng-click="toggleChart()"> <i class="fa fa-eye-slash" aria-hidden="true"></i> Hide chart </md-button>-->
                          <!--<md-button layout-align="end" ng-show="showChart" ng-click="toggleChart()"> <i class="fa fa-eye" aria-hidden="true"></i> Show chart </md-button>-->
                      <!--</div>-->
                  <!--</div>-->


                  <!--<div id="tester" height="250" width="100%" ng-show="showChart"></div>-->
              </div>
              <!--</md-card>-->


          <div flex>
              <!--Server side filtering toolbar-->
              <!--Basic-->
              <!--<md-card style="background-color:#EDF1F5;">-->
                  <!--<div layout="row" layout-sm="column" layout-align="start center" layout-padding ng-hide="topicIsEmpty">-->
                      <!--<label style="width:100%">Partition</label>-->
                      <!--<select class="form-control button" ng-model="search.partition" >-->
                          <!--<option value="" selected>ALL</option>-->
                          <!--<option ng-repeat="i in getPartitions(partitions)" track by $index value="{{$index}}">Partition {{$index}}</option>-->
                      <!--</select>-->
                      <!--<label style="width:100%">Offset start:</label>-->
                      <!--<input ng-model="offsetStart" type="text" placeholder="123" style="width:100%">-->
                      <!--<label style="width:100%">Offset end:</label>-->
                      <!--<input ng-model="offsetend" type="text" placeholder="456" style="width:100%">-->
                      <!--<md-button class="md-raised" ng-click="kcqlRequest()" style="height:23px; width:23px">-->
                          <!--<i class="fa fa-search" aria-hidden="true" style="color:#333; margin-top:-10"></i>-->
                      <!--</md-button>-->
                      <!--<a>Advanced</a>-->
                  <!--</div>-->
              <!--</md-card>-->

              <!--Advanced-->
              <div style="background-color:#fff; border:1px solid #f4f5f7">
                    <div layout="row" layout-sm="column" layout-align="space-between center" layout-padding ng-hide="topicIsEmpty">
                        <label>KCQL</label>
                        <input ng-model="search" type="text" placeholder="SELECT * FROM {{topicName}}" style="width:100%">
                        <md-button class="md-raised" ng-click="kcqlRequest()" style="height:23px; width:23px">
                            <i class="fa fa-search" aria-hidden="true" style="color:#333; margin-top:-10"></i>
                        </md-button>
                        <a>Basic</a>
                    </div>
              </div>

          </div>

      </md-card>

      <md-card>
          <md-tabs ng-hide="showSpinner" style="padding:0" md-dynamic-height md-border-bottom md-selected="selectedTabNnumber">

              <div>
                  <input ng-model="search" flex placeholder="Filter" style="width: 300px;margin: 7px; line-height: 30px;"/>

                  <select class="form-control button" ng-model="search.partition" style="float:right; width: 120px;margin: 7px; line-height: 30px;">
                      <option value="" selected>All partitions</option>
                      <option ng-repeat="i in getPartitions(partitions)" track by $index value="{{$index}}">Partition {{$index}}</option>
                  </select>
              </div>

              <md-tab   label="Topic" ng-click="onTabChanges('topic')"   ng-if="topicType != 'binary' && !topicIsEmpty ">
                  <div ng-include="'src/kafka-topics/view/templates/normal.html'"></div>
              </md-tab>

              <md-tab label="Table" ng-click="onTabChanges('table')" ng-if="!topicIsEmpty">
                  <md-input-container  class="md-block" ng-hide="topicIsEmpty || selectedTabNnumber > 1 "  flex="2">
                  <label>Search</label>
                  <input ng-model="search" flex placeholder="  "/>
                  </md-input-container>
                  <div ng-include="'src/kafka-topics/view/templates/flat_table.html'"></div>
              </md-tab>

              <md-tab label="Raw Data" ng-click="onTabChanges('rawdata')" ng-if=" !topicIsEmpty">
                  <div ng-include="'src/kafka-topics/view/templates/raw_data.html'"></div>
              </md-tab>

              <md-tab label="Configuration" ng-click="onTabChanges('config')"  ng-if=" selectedTabNnumber == '3' || getExtraConfig(topicName) != ''">
                  <div ng-include="'src/kafka-topics/view/templates/withConfiguration.html'"></div>
              </md-tab>

          </md-tabs>

      </md-card>
  </div>


    <!--<div flex style="background-color:#EDF1F5;" ng-cloak>-->

        <!-- Show when topic is empty -->
        <!--<div layout="row" layout-align="start center" style="margin:10px;padding:10px;background:#fcf8e3;" ng-show="topicIsEmpty">-->
          <!--<div style="color:#333;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>-->
              <!--This topic is empty.-->
          <!--</div>-->
        <!--</div>-->





        <!--<div ng-hide="getExtraConfig(topicName) == '' && topicIsEmpty">-->
            <!--<div style="display:flex;width:100%;height:55px" >-->
                <!--<div style="width:150px;margin:16px 15px 0 0">-->
                    <!--<select class="form-control button" ng-model="search.partition" >-->
                        <!--<option value="" selected>Select partitions</option>-->
                        <!--<option ng-repeat="i in getPartitions(partitions)" track by $index value="{{$index}}">Partition {{$index}}</option>-->
                    <!--</select>-->
                <!--</div>-->


                <!--<div flex="3">-->
                <!--<md-input-container  class="md-block" ng-hide="topicIsEmpty || selectedTabNnumber > 1 "  flex="2">-->
                  <!--<label>Filter / KCQL</label>-->
                  <!--<input ng-model="search" flex/>-->
                  <!--&lt;!&ndash;<md-button style="position: absolute;right: 0px;top: -15px;" class="md-mini" ng-click="showAll()">{{showHideAllButtonLabel}}</md-button>&ndash;&gt;-->
                <!--</md-input-container>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<md-button flex ng-click="kcqlRequest()">GO</md-button>-->
                <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash;<md-button style="position: absolute;right: 0px;top: -15px;" class="md-mini" ng-click="showAll()">{{showHideAllButtonLabel}}</md-button>&ndash;&gt;-->
            <!--<div style="width:100%;text-align:right;" ng-show="showButton">-->
                    <!--<md-button layout-align="end"  ng-show="showChart" ng-click="toggleChart()"> <i class="fa fa-eye-slash" aria-hidden="true"></i> Hide chart </md-button>-->
                    <!--<md-button layout-align="end" ng-show="!showChart" ng-click="toggleChart()"> <i class="fa fa-eye" aria-hidden="true"></i> Show chart </md-button>-->
                <!--</div>-->
            <!--&lt;!&ndash;<div id="tester" height="250" width="90%" ng-show="showChart"></div>&ndash;&gt;-->

            <!--<md-tabs ng-hide="showSpinner" style="padding:0" md-dynamic-height md-border-bottom md-selected="selectedTabNnumber">-->

            <!--<md-tab   label="Topic" ng-click="onTabChanges('topic')"   ng-if="topicType != 'binary' && !topicIsEmpty ">-->
                <!--<div ng-include="'src/kafka-topics/view/templates/normal.html'"></div>-->
            <!--</md-tab>-->

            <!--<md-tab   label="Table" ng-click="onTabChanges('table')" ng-if="!topicIsEmpty">-->
                <!--<div ng-include="'src/kafka-topics/view/templates/flat_table.html'"></div>-->
            <!--</md-tab>-->

            <!--<md-tab label="Raw Data" ng-click="onTabChanges('rawdata')" ng-if=" !topicIsEmpty">-->
                <!--<div ng-include="'src/kafka-topics/view/templates/raw_data.html'"></div>-->
            <!--</md-tab>-->

            <!--<md-tab label="Configuration" ng-click="onTabChanges('config')"  ng-if=" selectedTabNnumber == '3' || getExtraConfig(topicName) != ''">-->
                <!--<div ng-include="'src/kafka-topics/view/templates/withConfiguration.html'"></div>-->
            <!--</md-tab>-->

        <!--</md-tabs>-->
        <!--</div>-->
    <!--</div>-->

</div>
